@media screen{
    body{
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
    }

    .upper_block{
        width: 100vw;
        height: 15vh;
        background-color: #2C3C4C;
    }

    .main_block{
        width: 100vw;
        height: 85vh;
        background-color: #BBABCD;
    }

    .lower_block{
        width: 100vw;
        height: 20vh;
        background-color: #2C3C4C;
    }

    .big_block{
        width: 100vw;
        height: 120vh;
        padding: 0;
        margin: 0;
    }

    .logo_block{
        height: 15vh;
    }

    .logo_img{
        width: 15vh;
        height: 15vh;
    }

    .logo_text{
        font-size: 5vh;
        color: white;
        padding-bottom: 15vh;
    }
}

